version: 2.1
orbs:
  cypress: cypress-io/cypress@1.28.0
jobs:
  install_deps:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - checkout
      - restore_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn --ignore-engines
      - save_cache:
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: ~/
          paths:
            - ./
      - run: pwd
      - run: ls -al
  test_unit:
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: ~/
      - run: pwd
      - run: ls -al
      - run:
          name: Run unit tests
          command: yarn test:unit
  deploy_preview:
    working_directory: ~/aviasales-test-frontend
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: ~/
      - run: pwd
      - run: ls -al
      - run: cd ..
      - run: pwd
      - run: ls -al
      - run: cd project
      - run: pwd
      - run: ls -al
      # - run:
      #     name: Install Vercel
      #     command: yarn global add vercel
      # - run: |
      #     echo 'export PATH=/home/circleci/.yarn/bin:$PATH' >> $BASH_ENV
      #     source $BASH_ENV
      # - run:
      #     name: Preview deploy
      #     command: vercel -c -t $VERCEL_TOKEN
  deploy_production:
    working_directory: ~/aviasales-test-frontend
    docker:
      - image: circleci/node:12.19.0
    steps:
      - attach_workspace:
          at: ~/
      - run: pwd
      - run: ls -al
      - run:
          name: Install Vercel
          command: yarn global add vercel
      - run: |
          echo 'export PATH=/home/circleci/.yarn/bin:$PATH' >> $BASH_ENV
          source $BASH_ENV
      - run:
          name: Production deploy
          command: vercel -c -t $VERCEL_TOKEN --prod
workflows:
  default:
    jobs:
      - install_deps
      - test_unit:
          requires:
            - install_deps
      - cypress/run:
          requires:
            - install_deps
          start: yarn dev
          attach-workspace: true
      - deploy_preview:
          requires:
            - test_unit
            - cypress/run
      - deploy_production:
          requires:
            - test_unit
            - cypress/run
          filters:
            branches:
              only:
                - master
